<div class="proHistory justify-content-center">
    <div class="prof">
        <div *ngIf="professionalHistory">
            <h2><span>Professional History</span> {{professionalHistory.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Professional Id</span></dt>
                <dd>
                    <span>{{professionalHistory.professionalId}}</span>
                </dd>
                <dt><span>Emp Type</span></dt>
                <dd>
                    <span>{{professionalHistory.empType}}</span>
                </dd>
                <dt><span>Srs Emp Id</span></dt>
                <dd>
                    <span>{{professionalHistory.srsEmpId}}</span>
                </dd>
                <dt><span>Full Name</span></dt>
                <dd>
                    <span>{{professionalHistory.fullName}}</span>
                </dd>
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{professionalHistory.firstName}}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{professionalHistory.lastName}}</span>
                </dd>
                <dt><span>Education</span></dt>
                <dd>
                    <span>{{professionalHistory.education}}</span>
                </dd>
                <dt><span>Certification</span></dt>
                <dd>
                    <span>{{professionalHistory.certification}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{professionalHistory.email}}</span>
                </dd>
                <dt><span>Home Phone</span></dt>
                <dd>
                    <span>{{professionalHistory.homePhone}}</span>
                </dd>
                <dt><span>Mobile Number</span></dt>
                <dd>
                    <span>{{professionalHistory.mobileNumber}}</span>
                </dd>
                <dt><span>Work Phone Number</span></dt>
                <dd>
                    <span>{{professionalHistory.workPhoneNumber}}</span>
                </dd>
                <dt><span>D OB</span></dt>
                <dd>
                    <span>{{professionalHistory.dOB}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{professionalHistory.status}}</span>
                </dd>
                <dt><span>City</span></dt>
                <dd>
                    <span>{{professionalHistory.city}}</span>
                </dd>
                <dt><span>Location</span></dt>
                <dd>
                    <span>{{professionalHistory.location}}</span>
                </dd>
                <dt><span>Total Experience</span></dt>
                <dd>
                    <span>{{professionalHistory.totalExperience}}</span>
                </dd>
                <dt><span>Job Title</span></dt>
                <dd>
                    <span>{{professionalHistory.jobTitle}}</span>
                </dd>
                <dt><span>Type Of Role</span></dt>
                <dd>
                    <span>{{professionalHistory.typeOfRole}}</span>
                </dd>
                <dt><span>Skill Category</span></dt>
                <dd>
                    <span>{{professionalHistory.skillCategory}}</span>
                </dd>
                <dt><span>Specific Skills</span></dt>
                <dd>
                    <span>{{professionalHistory.specificSkills}}</span>
                </dd>
                <dt><span>General Skills</span></dt>
                <dd>
                    <span>{{professionalHistory.generalSkills}}</span>
                </dd>
                <dt><span>Client Domain</span></dt>
                <dd>
                    <span>{{professionalHistory.clientDomain}}</span>
                </dd>
                <dt><span>Mode</span></dt>
                <dd>
                    <span>{{professionalHistory.mode}}</span>
                </dd>
                <dt><span>Employer</span></dt>
                <dd>
                    <span>{{professionalHistory.employer}}</span>
                </dd>
                <dt><span>Prime Vendor</span></dt>
                <dd>
                    <span>{{professionalHistory.primeVendor}}</span>
                </dd>
                <dt><span>End Client</span></dt>
                <dd>
                    <span>{{professionalHistory.endClient}}</span>
                </dd>
                <dt><span>Current Project Start Date</span></dt>
                <dd>
                    <span>{{professionalHistory.currentProjectStartDate}}</span>
                </dd>
                <dt><span>Current Project End Date</span></dt>
                <dd>
                    <span>{{professionalHistory.currentProjectEndDate}}</span>
                </dd>
                <dt><span>Remarks</span></dt>
                <dd>
                    <span>{{professionalHistory.remarks}}</span>
                </dd>
                <dt><span>Sell Rate</span></dt>
                <dd>
                    <span>{{professionalHistory.sellRate}}</span>
                </dd>
                <dt><span>Work Authorization</span></dt>
                <dd>
                    <span>{{professionalHistory.workAuthorization}}</span>
                </dd>
                <dt><span>Added On</span></dt>
                <dd>
                    <span>{{professionalHistory.addedOn}}</span>
                </dd>
                <dt><span>Bench Age</span></dt>
                <dd>
                    <span>{{professionalHistory.benchAge}}</span>
                </dd>
                <dt><span>Technology</span></dt>
                <dd>
                    <span>{{professionalHistory.technology}}</span>
                </dd>
                <dt><span>Pay Type</span></dt>
                <dd>
                    <span>{{professionalHistory.payType}}</span>
                </dd>
                <dt><span>Additional Notifiers</span></dt>
                <dd>
                    <span>{{professionalHistory.additionalNotifiers}}</span>
                </dd>
                <dt><span>Source</span></dt>
                <dd>
                    <span>{{professionalHistory.source}}</span>
                </dd>
                <dt><span>Work Experience</span></dt>
                <dd>
                    <span>{{professionalHistory.workExperience}}</span>
                </dd>
                <dt><span>Primary Skills</span></dt>
                <dd>
                    <span>{{professionalHistory.primarySkills}}</span>
                </dd>
                <dt><span>Sell Rate Helper</span></dt>
                <dd>
                    <span>{{professionalHistory.sellRateHelper}}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{professionalHistory.createdBy}}</span>
                </dd>
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{professionalHistory.createdDate}}</span>
                </dd>
                <dt><span>Updated By</span></dt>
                <dd>
                    <span>{{professionalHistory.updatedBy}}</span>
                </dd>
                <dt><span>Updated Date</span></dt>
                <dd>
                    <span>{{professionalHistory.updatedDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/professional-history', professionalHistory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
