<div>
    <h2 id="page-heading">
        <span>Search Histories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-search-history" [routerLink]="['/search-history/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Search History
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="searchHistories">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>User ID</span></th>
            <th><span>Search Name</span></th>
            <th><span>Emp Type</span></th>
            <th><span>Domain</span></th>
            <th><span>From Experience</span></th>
            <th><span>To Experience</span></th>
            <th><span>Location</span></th>
            <th><span>Status</span></th>
            <th><span>End Client</span></th>
            <th><span>Skills</span></th>
            <th><span>Employee Name</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let searchHistory of searchHistories ;trackBy: trackId">
                <td><a [routerLink]="['/search-history', searchHistory.id, 'view' ]">{{searchHistory.id}}</a></td>
                <td>{{searchHistory.userID}}</td>
                <td>{{searchHistory.searchName}}</td>
                <td>{{searchHistory.empType}}</td>
                <td>{{searchHistory.domain}}</td>
                <td>{{searchHistory.fromExperience}}</td>
                <td>{{searchHistory.toExperience}}</td>
                <td>{{searchHistory.location}}</td>
                <td>{{searchHistory.status}}</td>
                <td>{{searchHistory.endClient}}</td>
                <td>{{searchHistory.skills}}</td>
                <td>{{searchHistory.employeeName}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/search-history', searchHistory.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/search-history', searchHistory.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'search-history', { outlets: { popup: searchHistory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
